Package: com.thatmarcel.tweaks.neverheardofvpns
Name: NeverHeardOfVPNs
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: I'm using a VPN? Uhhhh, no.
Maintainer: thatmarcel
Author: thatmarcel
Section: Tweaks