Package: com.thatmarcel.tweaks.neverheardofvpns
Name: NeverHeardOfVPNs
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: I'm using a VPN? Uhhhh, no.
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks